@charset "utf-8";
@import url("navi.css");
@import url("featured_slide.css");

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}

#page {
  margin-bottom: 10px;
}

.justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nostart {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clear {
  clear:both;}

br.clear {
  clear: both;
  margin-top: -15px;
}

a {
  color: #b2c629;
  background-color: #fff;
  outline: none;
  text-decoration: none;
}

.fl_left,
.imgl {
  float: left;
}

.imgr {
  float: right;
}

.fl_right {
  padding-left: 125px;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.imgl,
.imgr {
  border: 1px solid #999;
  padding: 5px;
}

.imgl {
  margin: 0 8px 8px 0;
  clear: left;
}

.imgr {
  margin: 0 0 8px 8px;
  clear: right;
}

/* -------------------- Wrapper -------------------- */

div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

div.wrapper h1,
div.wrapper h2,
div.wrapper h3,
div.wrapper h4,
div.wrapper h5,
div.wrapper h6 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.col1 {
  color: #ccc;
  background-color: #000;
}

.col2,
.col2 a {
  color: #fff;
  background-color: #b2c629;
}

.col3 {
  color: #777;
  background-color: #fff;
}

.col3 a {
  color: #95ad19;
  background-color: #fff;
}

.col4 {
  color: #fff;
  background-color: #000;
}

.col4 a {
  color: #95ad19;
  background-color: #000;
}

.col5,
.col5 a {
  color: #333;
  background-color: #95ad19;
}

/* -------------------- Generalize -------------------- */

#header,
#topbar,
#homepage,
#container,
#footer,
#copyright {
  display: block;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

/* -------------------- Header -------------------- */

#header {
  padding: 20px 0;
  z-index: 1000;
}

#header #logo {
  display: block;
  float: left;
  width: 300px;
  overflow: hidden;
}

#header #logo h1,
#header #logo p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

#header #logo h1 {
  font-size: 36px;
  text-transform: uppercase;
}

#header h1 a {
  color: #b2c629;
  background-color: #000;
}

/* -------------------- BreadCrumb -------------------- */

#breadcrumb {
  padding: 20px 0;
}

#breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#breadcrumb ul li {
  display: inline;
}

#breadcrumb ul li.current a {
  text-decoration: underline;
}

/* -------------------- Content -------------------- */

#container {
  padding: 20px 0;
}

#container h1,
#container h2,
#container h3,
#container h4,
#container h5,
#container h6 {
  margin: 0 0 15px 0;
  padding: 0 0 8px 0;
}

/* -------------------- Homepage Block -------------------- */

.homepage {
  display: block;
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
}

.homepage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.homepage li {
  display: block;
  float: left;
  width: 400px;
  margin: 0 30px 0 0;
  padding: 0;
}

.homepage li.last {
  margin-right: 0;
}

.homepage li h2 {
  display: block;
  width: 100%;
  height: 65px;
  margin: 0;
  padding: 15px 0 8px 0;
  font-weight: normal;
  line-height: normal;
  border-bottom: 1px dotted #999;
}

.homepage li h2 img {
  float: left;
  margin: -15px 8px 0 0;
  padding: 5px;
}

.homepage p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 1.6em;
}

.homepage p.readmore {
  display: block;
  text-align: right;
  line-height: normal;
  font-weight: bold;
}

.homepage p.readmore a {
  padding: 8px 15px 10px;
  color: #fff;
  background-color: #95ad19;
}

/* -------------------- Content Block -------------------- */

#content {
  display: block;
  float: left;
  width: 600px;
}

/* -------------------- Comments -------------------- */

#comments {
  margin-bottom: 40px;
}

#comments .commentlist {
  margin: 0;
  padding: 0;
}

#comments .commentlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#comments .commentlist li.comment_odd,
#comments .commentlist li.comment_even {
  margin: 0 0 10px 0;
  padding: 15px;
  list-style: none;
}

#comments .commentlist li.comment_odd {
  color: #666;
  background-color: #f7f7f7;
}

#comments .commentlist li.comment_odd a {
  color: #95ad19;
  background-color: #f7f7f7;
}

#comments .commentlist li.comment_even {
  color: #666;
  background-color: #e8e8e8;
}

#comments .commentlist li.comment_even a {
  color: #95ad19;
  background-color: #e8e8e8;
}

#comments .commentlist .author .name {
  font-weight: bold;
}

#comments .commentlist .submitdate {
  font-size: smaller;
}

#comments .commentlist p {
  margin: 10px 5px 10px 0;
  padding: 0;
  font-weight: normal;
  text-transform: none;
}

#comments .commentlist li .avatar {
  float: right;
  border: 1px solid #eee;
  margin: 0 0 0 10px;
}

/* -------------------- Column -------------------- */

#column {
  display: block;
  float: left;
  width: 300px;
  margin-left: 5px;
  font-weight: 500;
}

#column .holder {
  display: block;
  width: 300px;
  margin-bottom: 20px;
}

#column .holder p {
  line-height: 1.6em;
}

#column .holder h2.title {
  display: block;
  width: 100%;
  height: 65px;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 20px;
  line-height: normal;
}

#column .holder h2.title img {
  float: left;
  margin: -15px 8px 0 0;
  padding: 5px;
  border: 1px solid #666;
}

#column .holder p.readmore {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: right;
  line-height: normal;
}

#column div.imgholder {
  display: block;
  width: 290px;
  margin: 0 0 10px 0;
  padding: 4px;
  color: #666;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

/* -------------------- Footer -------------------- */

#footer {
  padding: 20px 0;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer h2 {
  margin: 0 0 15px 0;
  padding: 0 0 8px 0;
  font-size: 18px;
  color: #ccc;
  background-color: #000;
  border-bottom: 1px dotted #ccc;
}

#footer .box {
  display: block;
  float: right;
  width: 250px;
  margin: 0 0 0 25px;
  padding: 0;
}

#footer .box1 {
  display: block;
  float: left;
  width: 400px;
  line-height: 1.6em;
}

#footer .box1 .imgl {
  border: 1px solid #ccc;
  padding: 5px;
  color: #fff;
  background-color: #000;
}

#footer .contactdetails li {
  margin: 0 0 8px 0;
}

#footer .flickrbox,
#footer .flickrbox .wrap {
  display: block;
  width: 260px;
}

#footer .flickrbox .wrap .fix {
  clear: both;
}

#footer .flickrbox .wrap .flickr_badge_image {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  width: 80px;
  height: 80px;
}

#footer .flickrbox .wrap #flickr_badge_image3,
#footer .flickrbox .wrap #flickr_badge_image6 {
  margin-right: 0;
}

/* -------------------- Copyright -------------------- */

#copyright {
  padding: 10px 0;
}

#copyright p {
  margin: 0;
  padding: 0;
}
