@charset "UTF-8";

/*
New Perspectives on HTML5 and CSS3, 7th Edition
Tutorial 5
Review Assignment

Author: Rebecca Deal
Date: 10/3/17

Filename: tf_print2.css
Path: /rebecca.deal/html05/review/css/tf_print2.css

This file contains the printer styles used with
the Trusted Friends Parents Tips page.
*/

/* Hidden Objects */

nav ul, header h1, section#left, footer {
  display: none;
}

/* Page Box Styles */

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

/* Header Styles */

body > header > img {
  display: block;
  width: 100%;
}

/* Typography Styles */

article header {
  margin-bottom: 0.2in;
}

article h1 {
  font-size: 24pt;
  line-height: 26pt;
}

aside {
  background-color: rgb(211, 211, 211);
  margin-top: 0.3in;
}

aside h1 {
  font-size: 18pt;
  line-height: 20pt;
}

aside img {
  width: 0.8in;
}

p {
  font-size: 12pt;
  margin: 0.1in auto;
}

/* Hypertext Styles */

a {
  color: black;
  text-decoration: none;
}

a::after {
  content: " (" attr(href) ") ";
  font-weight: bold;
  word-wrap: break-word;
}

/* Page Break Styles */

aside {
  page-break-after: always;
}

ol, ul, img {
  page-break-inside: avoid;
}

p {
  orphans: 3;
  widows: 3;
}
