@charset "UTF-8";

/*
New Perspectives on HTML and CSS
Tutorial 6
Review Assignment

Pages: 489-490
Due Date: 10/16/17

Columns Style Sheet
Author: Rebecca Deal
Date: 10/10/17

Filename: dlr_columns2.css
Path: /rebecca.deal/html06/review/css/dlr_columns2.css
*/

/* Column Styles */

@media only screen and (min-width: 641px) {

  div#container > section#main > p {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;

    -moz-column-rule: 1px solid black;
    -webkit-column-rule: 1px solid black;
    column-rule: 1px solid black;
  }

}
