@charset "utf-8";


/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 10
   Tutorial Case

   Lyman Hall Theater Calendar Table style sheet

   Filename: lht_calendar.css

*/


#calendar_table {
   background-color: rgb(231, 231, 231);  
   font-size: 0.9em; 
   font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
   width: 100%;

   box-shadow: rgb(51, 51, 51) 0px 0px 1px,
               rgb(51, 51, 51) 0px 0px 5px, 
               rgb(51, 51, 51) 0px 0px 10px,
               rgb(51, 51, 51) 0px 0px 20px;               
}

#calendar_table caption {
   caption-side: top; 
   text-align: center;
   padding-bottom: 20px; 
   font-size: 1.6em; 
   letter-spacing: 0.3em;
}

.calendar_weekdays {
   background-color: ivory;
   width: 14.28%; 
   font-size: 1em; 
   border-bottom: 3px solid gray;
}

.calendar_dates {
   text-align: left; 
   vertical-align: top;
   font-size: 0.8em;
   padding: 3px;
   border: 1px dotted gray;
   background-color: white;
   height: 60px;
}

#calendar_today {
   font-weight: bold; 
   color: rgb(51, 51, 51);
   background-color: rgb(251, 203, 176);
   border: 1px solid black;
}


